@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* body {
    margin: 20px;
} */

/* NAV CSS */

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    /* justify-content: space-between; */
    /* max-width: 1920px;
    margin: 47px auto; */




}

.navbar h1 {
    margin-top: 463px;
    margin-left: 1vw;
    font-size: 70px;
}

header {
    position: relative;
    min-height: 1080px;
    /* max-width: 1280; */
    margin: auto;
    background-image: url(/img/image\ 1.png);
    display: flex;
    background-size: cover;



}




nav {
    display: flex;

    gap: 30px;
    position: absolute;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    /* align-items: center; */

}


.samsunglogo {
    margin-left: 42px;
}

/* Content section */

.content {
    display: flex;
    justify-content: stretch;
    position: relative;
    width: 100%;
}

.content h3 {
    position: absolute;
    color: #ffff;
    font-size: 30px;
    margin: 34px 524px 380px 42px;
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    justify-content: space-between;
}

.products {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(240, 240, 240);
    font-size: 23px;
    font-weight: 600;

}



.products .blueback:hover {
    background-color: blue;
    color: #ffff;
}

.products2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 23px;


}

.products2 .blueback:hover {
    background-color: blue;
    color: #ffff;
}

.socialicon a {
    width: 40px;
    text-decoration: none;

    font-size: 30px;
    color: gray;
    display: flex;
    gap: 30px;
}

.socialicon {
    display: flex;
    gap: 40px;
    margin: 30px;
    text-align: center;
    align-items: center;
    color: gray;
}

.bottomsection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-left: 30px;
    color: gray;
}

.bottomsection a {
    color: gray;
    text-decoration: none;
}